.button {
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: grey;
    color: black;
    border: 1px solid black;
}

.operator {
    background-color: salmon;
    color: white;
}